body{
  background-color: grey;
  text-align: center;
}
.grt{
  color: red;
}
#name{
  color: blue;
  font-size: 20px;
}
img{
  float: left;
}
ul{
  display: inline-block;
}
p{
  color: black;
}
.column{
  clear: both;
}
h1{
  color:blue;
  text-align: center;
}
