body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
    background: url(https://images.unsplash.com/photo-1577186606264-8bc8d1fdf9e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.navbar
{
    text-align: center;
    padding: 20px;
}

.navbar a
{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma;
    margin-right:  80px;
    border: 2px solid transparent;
    padding: 10px;
    transition: 0.3s;
}

.navbar a:hover
{
    background: #000;
    border: 2px solid #fff;
}

.head-content
{
    text-align: center;
}

.head-content img
{
    border-radius: 50%;
    border: 2px solid #fff;
    margin-top: 20px;
}

.head-content img:hover
{
    border: 2px solid #000;
}
.name
{
    cursor: pointer;
    font-size: 50px;
    color: #fff;
    font-family: Algerian;
}

.desc
{
    cursor: default;
    font-size:30px;
    color: #fff;
    font-family: Harlow Solid;
}


.about-section h2
{
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

.about-section p
{
    font-size: 30px;
    font-family: roboto;
    width:1000px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid gray;
    padding: 15px;
}

.skills-section
{
    width:100%;
    height: 400px;
    background: #9ea0a3;
    text-align: center;
}

.skills-section h2
{
    text-decoration: underline;
    font-size: 30px;
    font-family: sans-serif;
    padding: 10px;
}

.skills-section img
{
    height:300px;
    width: 300px;
    border:2px solid transparent;
}

.skills-section img:hover
{
    border:2px solid #fff;
    transition: 0.3s;
}

.contact-section
{
    height: 56vh;
    background: gray;
    text-align: center;
}

